#content {
    width: 80%;
    margin: 0 auto;
    padding: 100px 0;
}

#content > h1 {
    text-align: center;
}

#files {
    display: none;
    margin: 20px auto;
    border: 1px solid black;
}

#files .file {
    padding: 5px;
}

#files .delete {
    float: right;
}

#upload {
    display: none;
    text-align: center;
    padding: 25px;
    border: 2px dashed black;
}

#upload.hover {
    background: #ccc;
    border: 2px solid black;
}

#login {
    text-align: center;
}

#login input {
    display: block;
    margin: 10px auto;
}
