<!doctype html>
<html>
<head>
    {% load staticfiles %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>File Upload Example</title>
    <link rel="stylesheet" href="{% static 'css/site.css' %}">
</head>
<body>
    <div id="content">
        <h1>File Upload API Example</h1>
        <div id="upload">Drag and Drop to Upload</div>
        <div id="files"></div>
    </div>
    <script src="{% static 'libs/jquery.js' %}"></script>
    <script src="{% static 'libs/underscore.js' %}"></script>
    <script src="{% static 'libs/backbone.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
</body>
</html>
