<!doctype html>
<html>
<head>
    {% load staticfiles %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>File Upload Example</title>
    <link rel="stylesheet" href="{% static 'css/site.css' %}">
</head>
<body>
    <div id="content">
        <a href="https://github.com/mlavin/fileapi"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/a6677b08c955af8400f44c6298f40e7d19cc5b2d/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f677261795f3664366436642e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_gray_6d6d6d.png"></a>
        <h1>File Upload API Example</h1>
        <div id="upload">Drag and Drop to Upload</div>
        <div id="files"></div>
        <form id="login">
            <input type="text" name="username" placeholder="Username" required >
            <input type="password" name="password" placeholder="Password"  required>
            <input type="submit" value="Login">
        </form>
    </div>
    <script id="config" type="text/json">
        {
            "api": "{% url 'upload-list' %}",
            "login": "{% url 'api-token' %}"
        }
    </script>
    <script src="{% static 'libs/jquery.js' %}"></script>
    <script src="{% static 'libs/underscore.js' %}"></script>
    <script src="{% static 'libs/backbone.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
</body>
</html>
